extends layout

block content
	#header
		#title duet
	#sounds
	#footer
		div(class="eightacross")
			p(class="a") A
		div(class="eightacross")
			p(class="s") S
		div(class="eightacross")
			p(class="d") D 
		div(class="eightacross")
			p(class="f") F
		div(class="eightacross")
			p(class="j") J
		div(class="eightacross")
			p(class="k") K
		div(class="eightacross")
			p(class="l") L
		div(class="eightacross")
			p(class="semi") ;

